

body{
	background-color: #232323;
	margin:0;
	font-family: Avenir;

}

h1{
	color: white;
	background-color: steelblue;
	margin:0;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	padding: 20px 0;
	line-height: 1.1;
}

#rgbdisplay{
	font-size: 200%;
}

.square{
	padding-bottom: 23%;
	float: left;
	width:30%;
	margin:1.66%;
	border-radius: 33%;
	background-color: pink;
	transition: background-color 0.7s;
	-webkit-transition: background-color 0.7s;; /*safari*/
	-moz-transition: background-color 0.7s;;	/*mozilla*/
}

#container{
	max-width:600px;
	margin:20px auto;
}



#stripe{
	background-color: white;
	text-align: center;
	height: 30px;
	color:black;
}

.selected{
	background-color: steelblue;
	color: white;
}

button{
	border:none;
	background: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	outline: none;
	/*transition: all 0.3s;*/
}

button:hover{
	background-color: steelblue;
	color: white;
}

#message{
	display: inline-block;
	width: 20%;
	font-size: 100%;
	font-weight: 700;
}

